<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <script src="js/Chart.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src= '/socket.io/socket.io.js'></script>
    <script src="js/chance.min.js"></script>
    <link rel="stylesheet" href="css/m-styles.min.css">
    
    <style>
      ul {
        list-style: none;
        position: absolute;
        right: 8px;
        top: 0;
      }
      ul li {
        display: block;
        padding-left: 30px;
        position: relative;
        margin-bottom: 4px;
        border-radius: 5px;
        padding: 2px 8px 2px 28px;
        font-size: 14px;
        cursor: default;
        -webkit-transition: background-color 200ms ease-in-out;
        -moz-transition: background-color 200ms ease-in-out;
        -o-transition: background-color 200ms ease-in-out;
        transition: background-color 200ms ease-in-out;
      }
      ul li:hover {
        background-color: #fafafa;
      }
      ul li span {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 100%;
        border-radius: 5px;
      }
      
      .canvas-labels {
        padding-right: 150px;
        min-height: 180px;
        position: relative;
        float: left;
        top: 100px;
      }
      
      .canvas-labels2 {
        padding-right: 150px;
        min-height: 180px;
        position: relative;
        float: left;
        display: none;
        top: -500px;
      }
      
      .canvas-labels3 {
        padding-right: 150px;
        min-height: 180px;
        position: relative;
        float: left;
        display: none;
        top: -500px;
      }
    </style>
  </head>
  <body>
    
    <div id="buttonHolder" style="position: absolute;"></div>
    <div id="headerHolder" style="display: none; top: -500px; position: absolute; z-index: 10;"></div>
    
    <div class="canvas-labels">
        <div id="canvas-holder" style="width:30%; float: left;">
    			<canvas id="chart-area" width="300" height="300"/>
    		</div>
    		<div id="labels" style="float: left;"></div>
    </div>
    
    <div class="canvas-labels2">
        <div id="canvas-holder2" style="width:30%; float: left;">
    			<canvas id="chart-area2" width="300" height="300"/>
    		</div>
    		<div id="labels2" style="float: left;"></div>
    </div>
    
    <div class="canvas-labels3">
        <div id="canvas-holder3" style="width:30%; float: left;">
    			<canvas id="chart-area3" width="300" height="300"/>
    		</div>
    		<div id="labels3" style="float: left;"></div>
    </div>
    
    <script>
    var pieData = [
        {
					value: 1,
					color: "#000",
					highlight: "#3C3C3C",
					label: "No Team"
				},
				{
					value: 0,
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "Team 1"
				},
				{
					value: 0,
					color: "#FDB45C",
					highlight: "#FFC870",
					label: "Team 2"
				},
				{
					value: 0,
					color: "#78D88F",
					highlight: "#69BA7C",
					label: "Team 3"
				},
				{
					value: 0,
					color: "#4D5360",
					highlight: "#616774",
					label: "Team 4"
				},
				{
					value: 0,
					color: "#d2e851",
					highlight: "#DBF252",
					label: "Team 5"
				},
				{
					value: 0,
					color:"#DFAB23",
					highlight: "#C3961F",
					label: "Team 6"
				}
			];
			
			 var pieScores = [
        {
					value: 1,
					color: "#000",
					highlight: "#3C3C3C",
					label: "No Team"
				},
				{
					value: 0,
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "Team 1"
				},
				{
					value: 0,
					color: "#FDB45C",
					highlight: "#FFC870",
					label: "Team 2"
				},
				{
					value: 0,
					color: "#78D88F",
					highlight: "#69BA7C",
					label: "Team 3"
				},
				{
					value: 0,
					color: "#4D5360",
					highlight: "#616774",
					label: "Team 4"
				},
				{
					value: 0,
					color: "#d2e851",
					highlight: "#DBF252",
					label: "Team 5"
				},
				{
					value: 0,
					color:"#DFAB23",
					highlight: "#C3961F",
					label: "Team 6"
				}
			];
			
			var teamScore = [
        {
					value: 1,
					color: "#000",
					highlight: "#3C3C3C",
					label: "No Team"
				}
			];
			
			var options = {
			  animateRotate : false,
			  legendTemplate : '<ul>'
                  +'<% for (var i=0; i<pieData.length; i++) { %>'
                    +'<li>'
                    +'<span style=\"background-color:<%=pieData[i].color%>\"></span>'
                    +'<% if (pieData[i].label) { %><%= pieData[i].label %><% } %>'
                  +'</li>'
                +'<% } %>'
              +'</ul>'
        }
        var options2 = {
			  animateRotate : false,
			  legendTemplate : '<ul>'
                  +'<% for (var i=0; i<pieScores.length; i++) { %>'
                    +'<li>'
                    +'<span style=\"background-color:<%=pieScores[i].color%>\"></span>'
                    +'<% if (pieScores[i].label) { %><%= pieScores[i].label %><% } %>'
                  +'</li>'
                +'<% } %>'
              +'</ul>'
        }
        var options3 = {
			  animateRotate : false,
			  legendTemplate : '<ul>'
                  +'<% for (var i=0; i<teamScore.length; i++) { %>'
                    +'<li>'
                    +'<span style=\"background-color:<%=teamScore[i].color%>\"></span>'
                    +'<% if (teamScore[i].label) { %><%= teamScore[i].label %><% } %>'
                  +'</li>'
                +'<% } %>'
              +'</ul>'
        }
      
				var ctx = document.getElementById("chart-area").getContext("2d");
				var myPie = new Chart(ctx).Doughnut(pieData, options);
				
				var legendHolder = document.getElementById('labels');
				legendHolder.innerHTML = myPie.generateLegend();
        
        
        var ctx2 = document.getElementById("chart-area2").getContext("2d");
				var myPie2 = new Chart(ctx2).Doughnut(pieScores, options2);
				
				var legendHolder2 = document.getElementById('labels2');
				legendHolder2.innerHTML = myPie2.generateLegend();
        
        
        var ctx3 = document.getElementById("chart-area3").getContext("2d");
  			var myPie3 = new Chart(ctx3).Doughnut(teamScore, options3);
        
        
  			var legendHolder3 = document.getElementById('labels3');
  			legendHolder3.innerHTML = myPie3.generateLegend();
        
        function updateData(data, value) {
          myPie.segments[data].value = value;
          myPie.update();
        }
        
        function updateData2(data, value) {
          myPie3.segments[data].value = value;
          myPie3.update();
        }
        
        function removeData(index) {
          myPie.removeData(index);
        }

        Object.size = function(obj) {
          var size = 0, key;
          for (key in obj) {
              if (obj.hasOwnProperty(key)) size++;
          }
          return size;
        };
        
        function invertColor(hexTripletColor) {
            var color = hexTripletColor;
            color = color.substring(1);           // remove #
            color = parseInt(color, 16);          // convert to integer
            color = 0xFFFFFF ^ color;             // invert three bytes
            color = color.toString(16);           // convert to hex
            color = ("000000" + color).slice(-6); // pad with leading zeros
            color = "#" + color;                  // prepend #
            return color;
        }
        
        function genRandomName() {
          var my_chance = new Chance();
          var randomName = my_chance.name();
          return randomName;
        }
        
        var text = "";
        for (var i = 0; i < Object.size(pieData) - 1; i++) {
            text += '<a style=\"background-color:' + pieData[(i + 1)].color + '\; background-image: none; color: ' + invertColor(pieData[(i + 1)].color) + '; text-shadow: none;" href="#" class="m-btn" onclick="joinTeam(' + (i + 1) + ')">Team ' + (i + 1) + '</a>';
        }
        text += '<a href="#" class="m-btn" onclick="confirm()">Confirm Team</a>';
        document.getElementById("buttonHolder").innerHTML = text;
        
        var currentTeam = 0;
        var socket = io.connect();

        function confirm() {
          if(currentTeam !== 0) {
            $('.canvas-labels').animate({"top": "-500px"}, "slow", function(){
              $(this).remove();
            });
            $('#buttonHolder').delay(500).animate({"top": "-500px"}, "slow", function(){
              $(this).remove();
            });
            
            $('.canvas-labels2').show(1000).animate({"top": "100px"}, "slow");
            $('.canvas-labels3').show(1000).animate({"top": "100px"}, "slow");
            
            var randomName = genRandomName();
            
            document.getElementById("headerHolder").innerHTML = "<font style='font-weight: bold; font-size: 24px;'>You are on Team" + currentTeam + "<br />Your Random Name: " + randomName + "<br />Score:</font>";
            $('#headerHolder').fadeIn("slow").animate({"top": "0px"}, "slow");
            
            socket.emit('addToTeamList', randomName);
            
          }
        }

        function randomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        
        function shadeColor1(color, percent) {  
            var num = parseInt(color.slice(1),16), amt = Math.round(2.55 * percent), R = (num >> 16) + amt, G = (num >> 8 & 0x00FF) + amt, B = (num & 0x0000FF) + amt;
            return "#" + (0x1000000 + (R<255?R<1?0:R:255)*0x10000 + (G<255?G<1?0:G:255)*0x100 + (B<255?B<1?0:B:255)).toString(16).slice(1);
        }

        socket.on('addToTeamList', function(name){
          var randonColor = randomColor();
          var shadedColor = shadeColor1(randonColor, 10);
          myPie3.addData({
            value: 1,
            color: randonColor,
            highlight: shadedColor,
            label: name
          });
          if(teamScore.length === 2) {
            teamScore.shift();
            teamScore.push({
              value: 1,
              color: randonColor,
              highlight: shadedColor,
              label: name
            });
          } else {
            teamScore.push({
              value: 1,
              color: randonColor,
              highlight: shadedColor,
              label: name
            });
          }
          var legendHolder3 = document.getElementById('labels3');
  			  legendHolder3.innerHTML = myPie3.generateLegend();
  			  updateData2(0, 0);
  			  myPie3.update();
        });

        socket.on('con', function (connectCounter) {
          console.log('connected ' + connectCounter);
          updateData(0, connectCounter);
        });
        
        socket.on('discon', function (disconTeam) {
          console.log('discon ' + disconTeam);
          updateData(disconTeam, myPie.segments[disconTeam].value - 1);
        });

        function joinTeam(team) {
          console.log(currentTeam);
          socket.emit('joinTeam', team, currentTeam, function() {
            console.log("joining team#:  " + team);
          });
          currentTeam = team;
          console.log(currentTeam);
        }
        
        socket.on('addToTeam', function(team, value){
          updateData(team, value);
        });

        window.onbeforeunload = function(){
          console.log(currentTeam);
          socket.emit('discon', currentTeam, function(){
            console.log(currentTeam);
          });
          //return "Are you sure you wish to leave the page?";
        }
                
        </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>